<h2 class="text-center">Configure</h2>

<form action="/workflow/{{id}}/execute" method="post">
{{#each tasks}}
<div style="margin: 0 auto; width: 800px; height: 300px; background: #F4F4F4; margin-top: 30px">
	<h3>{{this.name}} - [{{this.type}}]</h3>
	<input type='hidden' name='taskId' value='{{this.id}}'>
	<div>
		{{#each this.attributes}}
			<div>
				{{this.name}} <input type='{{this.type}}' name='{{this.name}}' class = "form-control" >
				<br>
			</div>
		{{/each}}
	</div>

</div>
{{/each}}
<br><br>
<div class="text-center">
	<input type="submit" class="btn btn-default" value="Execute">
</div>
</form>
